/* ----------------------------------------------------------------- */
/* Header container */
div.header {
  padding-top: 20px;
  padding-bottom: 20px;
  height: 513px;
  text-align: center;
  background: #040207 url("header.jpg") no-repeat left top scroll;
  background-size: contain
  opacity: 0.9;
}

div.header h1 {
  font-size: 4%;
  color: #eaeaea;
}

/* ----------------------------------------------------------------- */
/* Navigation container */
/*.nav {
  overflow: hidden;
}*/

/* Style the topnav links */
a.nav:link {
  float: center;
  display: inline;
  padding-top: 2px;
  text-align: center;
  text-decoration: none;
  color: #eaeaea;
  font-size: 2%;
}

a.nav:visited {
  color: #eaeaea;
  text-decoration: none;
}

/* Change color on hover */
a.nav:hover {
  color: #dd0451;
  text-decoration: none;
}

a.nav:active {
  color: #0403b3;
  text-decoration: none;
}

/* ----------------------------------------------------------------- */
/* Left column */
div.leftCol {
  width: 10%;
  height: 200px;
  position: relative;
  top: 35%;
  left: 25%;
  right: 65%;
  padding-top: 1px;
  background-color: #2E2E2E;
  text-align: left;
}
