/* Header */
div.header {
  width: 50%;
  height: fit-content;
  position: relative;
  left: 40%;
  right: 40%;
  background-color: #070707;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  text-align: center;
}
