/* ----------------------------------------------------------------- */
/* Header container */
.header {
  width: 60vw;
  height: fit-content;
  position: absolute;
  left: 20vw;
  right: 20vw;
  opacity: 0%;
  background-color: #1a1615;
  text-align: center;
}

/* ----------------------------------------------------------------- */
/* Title container */
h1.title {
  font-size: 4vw;
  color: #EAEAEA;
}

/* ----------------------------------------------------------------- */
/* Navigation container */
div.nav {
  width: 60vw;
  height: fit-content;
  background-color: #FFFFFF;
  text-align: center;
  padding-top: 8vh;
}

/* ----------------------------------------------------------------- */
/* Left column */
div.leftCol {
  width: 10%;
  height: 200px;
  position: relative;
  top: 35%;
  left: 25%;
  right: 65%;
  padding-top: 1px;
  background-color: #2E2E2E;
  text-align: left;
}
